### Docs ###
*.aux
*.log
*.pdf
*.gz
*.bbl
*.bcf
*.blg
*.lof
*.run.xml
*.toc
*.out
*.lot

### CMake ###
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build

### Binaries ##
*.a
*.o
prime_finder
prime_finder_mpi

### CLion ###
.idea
